body {
  font-size: 14px;
}

.h {
  display: none;
}

h5 {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.banner1 {
  overflow: hidden;
}

.banner1 img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
}

.sec1 h5 {
  padding-top: 31px;
  padding-bottom: 12px;
}

.sec1 p {
  line-height: 29px !important;
  font-size: 16px;
}

.sec2 div {
  margin-bottom: 38px;
}

.sec2 div img {
  margin: 0 auto;
}

.sec2 h5 {
  padding-top: 10px;
  padding-bottom: 17px;
}

.sec2 p.pro_title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 14px;
}

.sec2 p.pro_intro {
  line-height: 29px !important;
  font-size: 16px;
}

.sec2 ul.pro_adv li p {
  background-color: #ffd52f;
  height: 29px;
  text-align: center;
  line-height: 29px !important;
  margin-bottom: 15px;
  font-weight: 600;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
}

.sec2 ul.pro_adv li p:hover {
  background-color: #161f55;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
}

.sec3 h5 {
  padding-bottom: 21px;
}

.sec3 ul a .img-bac {
  background-color: #161f55;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
}

.sec3 ul a .img-bac img {
  margin: 0 auto;
}

.sec3 ul a .pro-bac {
  background-color: #f5f5f5;
  text-align: center;
  padding-bottom: 6px;
  margin-bottom: 30px;
}

.sec3 ul a .pro-bac .pro-cen {
  display: inline-block;
  text-align: left;
  color: #000;
}

.sec3 ul a .pro-bac .pro-cen .pro-title {
  font-size: 16px;
  font-weight: 600;
  padding-top: 12px;
  margin-bottom: 11px;
}

.sec3 ul a .pro-bac .pro-cen .pro-intro {
  font-size: 16px;
  margin-bottom: 4px;
}

.sec3 ul a:hover .img-bac {
  background-color: #fac000;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
}

.sec4 h5 {
  padding-bottom: 20px;
}

.sec4 ul li .triangle {
  width: 0;
  height: 0;
  border-width: 50px;
  border-style: solid;
  border-color: #161f55 transparent transparent transparent;
  display: none;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
}

.sec4 ul li img {
  margin: 0 auto;
}

.sec4 ul li p {
  color: #000;
}

.sec4 ul li p.solu-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 5px;
}

.sec4 ul li p.solu-intro {
  font-size: 16px;
  margin-bottom: 0;
}

.sec4 ul li:nth-of-type(odd) {
  margin-bottom: 30px;
}

.sec4 ul li:hover p {
  color: #000 !important;
}

.sec4 ul li:hover .triangle {
  border-color: #fac000 transparent transparent transparent;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
}

.sec5 {
  text-align: center;
}

.sec5 h5 {
  padding-bottom: 18px;
}

.sec5 .clearfix {
  display: none;
}

.sec5 ul li p {
  font-size: 16px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
}

.sec5 ul li .case-title {
  background-color: #161f55;
  color: #fff;
  height: 39px;
  line-height: 39px !important;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 6px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
}

.sec5 ul li:hover .case-title {
  background-color: #eb8800;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
}

.sec5 ul li:hover p.xs6 {
  color: #eb8800;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
}

@media (min-width: 1200px) {
  .sec4 ul li img {
    float: left;
    margin-right: 30px;
  }
  .sec4 ul li .solu-img {
    position: relative;
    width: 270px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
  }
  .sec4 ul li .triangle {
    position: absolute;
    left: 220px;
  }
}

@media (max-width: 1199px) {
  .sec2 .pro_title {
    text-align: center;
  }
  .xso {
    margin-bottom: 10px !important;
  }
  .xsc {
    margin-bottom: 30px !important;
  }
  .sec4 ul li {
    margin-bottom: 15px !important;
  }
  .sec4 ul li p.solu-title {
    text-align: center;
    margin-top: 10px;
  }
}

@media (max-width: 999px) and (min-width: 760px) {
  .sec5 ul li p {
    font-size: 14px;
  }
}

@media (max-width: 759px) and (min-width: 450px) {
  .sec2 ul li {
    width: 50%;
    float: left;
  }
  .sec5 ul li img {
    width: 100%;
  }
  .sec5 ul li .case-title {
    height: auto !important;
  }
}

@media (max-width: 449px) {
  .sec5 ul li .xl6 {
    width: 100% !important;
    line-height: 24px !important;
  }
  .sec5 ul li .xl6.mh {
    margin-bottom: 0;
  }
  .sec5 ul li .case-title {
    height: auto !important;
    line-height: 24px !important;
    padding: 5px;
  }
}
